.h1{
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
}
.small, small{
    font-size: 14px;
    line-height: 100%;
    font-weight: normal;
}
.subtext{
    font-size: 12px;
    line-height: 100%;
    font-weight: normal;
}

.color-purple{
    color: var(--color-purple);
}

.color-light-gray-200{
    color: var(--light-gray-200);
}

.user-image__wrapper img{
    width: 44px;
    height: 44px;
}

.shadow-top{
    box-shadow: 0px -4px 10px 0px #00000012;
}

.html-content p,
.html-content ol,
.html-content table{
    margin-bottom: 1.4rem;
}